<div>
  <% if logged_in? %>
    <% if current_user.id == @user.id %>
      <div>
        <h1 class="title">Welcome, <%=@user.name %></h1>
      </div>

      <div>
        <h2>Your Saved Games</h2>
        <ul>
          <% @user.games.each do |game| %>
            <li><%= link_to game.name, game_path(game) %> | <%= game.saved_games.count %> saves</li>
          <% end %>
        </ul>
      </div>

      <div>
        <h2>Your Friends</h2>
        <ul>
          <% @user.accepted_friends.each do |friend| %>
            <li><%= link_to friend.name, user_path(friend) %> (<%=friend.games.count%> saved games)</li>
          <% end %>
        </ul>
      </div>

      <div>
        <h2>Pending Friend Requests</h2>
        <ul>
          <% @user.pending_friends.each do |friend| %>
            <li><%=friend.name%>  (<%=friend.games.count%> games)
                <form  method='post' action='/friendships'>
                  <input type='hidden' name="_method" value="put">
                  <input type="hidden" value="<%= form_authenticity_token() %>" name="authenticity_token"/>
                  <input type="hidden" name="friends[requesting_id]" value='<%=friend.id%>'>
                   <input type="hidden" name="friends[accepting_id]" value='<%=current_user.id%>'>
                   <button type="submit">Accept Friend</button>
                </form>
          <% end %>
        </ul>
      </div>
    <% elsif @user.is_friend(session[:users])  %>
            <div>
        <h1 class="title"><%=@user.name %>'s Profile Page</h1>
      </div>

      <div>
        <h2><%=@user.name %>'s Saved Games</h2>
        <ul>
          <% @user.games.each do |game| %>
            <li><%=game.name%></li>
          <% end %>
        </ul>
      </div>
    <% else %>
      <form  method='post' action='/friendships'>
        <input type="hidden"
       value="<%= form_authenticity_token() %>"
       name="authenticity_token"/>
        <input type="hidden" name="friends[requesting_id]" value='<%=current_user.id%>'>
         <input type="hidden" name="friends[accepting_id]" value='<%=@user.id%>'>
         <button type="submit">Add Friend</button>
      </form>
    <% end %>
  <% else %>
    <h1>Please Login to view users</h1>
  <% end %>
</div>

