<div id=game-show>
  <section class="game-info">
    <h2><%= @game.name %></h2>
      <br>
    <%= image_tag @game.pic, {class: "game", alt: @game.name + ' picture', width: '200px', height: '200px' } %>
      <br />
    <h3> Game Description:</h3>
    <%= @game.description%><br /><br />
    <span class="game-detail">Type of Game:</span>
    <%= @game.game_type %><br />
    <span class="game-detail">Game Duration (minutes):</span>
    <%= @game.duration %><br />
    <span class="game-detail">Number of Players:</span>
    <%= @game.players %><br />
  </section><br>

  <div class="save-game">
    <% if logged_in? %>
      <% if !saved_game?(@game.id) %>
        <button><%= link_to 'save this game', saved_games_path(@saved_game, user_id: session[:users], game_id: @game.id), method: :post %></button></p>
      <% end %>
    <% else %>
      <button><%= link_to 'save this game', new_session_path %></button></p>
    <% end %>
  </div>

  <section class="comments">
    <h3>Comments</h3>
    <ul>
      <% @game.comments.each do |comment| %>
        <li><%=comment.body%></li>
      <% end %>
    </ul>
  </section>
</div>
